.myBody {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    align-items: center;
    font-size: 14px;
}

.myBody p {
    overflow: auto;
    text-align: center;
}

.myBody.completed {
    text-decoration: line-through;
}
